<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Список пользователей</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div th:replace="~{fragments/nav :: nav}"></div>

        <h1>Список пользователей</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Имя пользователя</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>